In [35]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [36]:
%sql postgresql://postgres:password@localhost/postgres

'Connected: postgres@postgres'

In [37]:
def business_ids_count():
    """
    Write a SQL query that finds the number of business ids in the businesses table
    :return: a string representing the SQL query
    :rtype: str
    """

In [38]:
%%sql
SELECT COUNT business_ids
FROM businesses

 * postgresql://postgres:***@localhost/postgres
(psycopg2.errors.UndefinedTable) relation "businesses" does not exist
LINE 2: FROM businesses
             ^

[SQL: SELECT COUNT business_ids
FROM businesses]
(Background on this error at: http://sqlalche.me/e/f405)

In [39]:
# reforamtted as string for submission - referenced cambridge spark solution
def business_ids_count():
    """
    Write a SQL query that finds the number of business ids in the businesses table
    :return: a string representing the SQL query
    :rtype: str
    """

    return "SELECT COUNT (business_ids) FROM businesses"

In [40]:
def unique_business_names_count():
    """
    Write a SQL query that finds out how many unique business names are registered
    with San Francisco Food health investigation organization
    and name the column as "unique restaurant name count".
    :return: a string representing the SQL query
    :rtype: str
    """

In [41]:
%%sql
SELECT COUNT (DISTINCT name) AS unique_restaurant_name_count
FROM businesses

 * postgresql://postgres:***@localhost/postgres
(psycopg2.errors.UndefinedTable) relation "businesses" does not exist
LINE 2: FROM businesses
             ^

[SQL: SELECT COUNT (DISTINCT name) AS unique_restaurant_name_count
FROM businesses]
(Background on this error at: http://sqlalche.me/e/f405)

In [42]:
# reforamtted as string for submission - referenced cambridge spark solution
def unique_business_names_count():
    """
    Write a SQL query that finds out how many unique business names are registered
    with San Francisco Food health investigation organization
    and name the column as "unique restaurant name count".
    :return: a string representing the SQL query
    :rtype: str
    """

    sql_query = "SELECT COUNT (DISTINCT(name)) AS 'unique restaurant name count' FROM businesses"
    return sql_query

In [43]:
def first_and_last_investigation():
    """
    Write a SQL query that finds out what is the earliest and latest date
    a health investigation is recorded in this database.
    :return: a string representing the SQL query
    :rtype: str
    """

In [44]:
%%sql
SELECT earliest_date=MIN(date) AND latest_date=MAX(date) 
FROM inspections

 * postgresql://postgres:***@localhost/postgres
(psycopg2.errors.UndefinedTable) relation "inspections" does not exist
LINE 2: FROM inspections
             ^

[SQL: SELECT earliest_date=MIN(date) AND latest_date=MAX(date)
FROM inspections]
(Background on this error at: http://sqlalche.me/e/f405)

In [45]:
# reforamtted as string for submission - referenced cambridge spark solution
def first_and_last_investigation():
    """
    Write a SQL query that finds out what is the earliest and latest date
    a health investigation is recorded in this database.
    :return: a string representing the SQL query
    :rtype: str
    """
    
    sql_query = "SELECT MIN(date) AS 'earliest date' AND MAX(date) AS 'latest date' FROM inspections"
    return

In [46]:
def business_local_owner_count():
    """
    How many businesses are there in San Francisco where their owners live
    in the same area (postal code/ zip code) as the business is located?
    :return: a string representing the SQL query
    :rtype: str
    """

In [47]:
%%sql
SELECT COUNT (*) 
FROM businesses
WHERE postal_code == zip_code

 * postgresql://postgres:***@localhost/postgres
(psycopg2.errors.UndefinedTable) relation "businesses" does not exist
LINE 2: FROM businesses
             ^

[SQL: SELECT COUNT (*)
FROM businesses
WHERE postal_code == zip_code]
(Background on this error at: http://sqlalche.me/e/f405)

In [48]:
# reforamtted as string for submission - referenced cambridge spark solution
def business_local_owner_count():
    """
    How many businesses are there in San Francisco where their owners live
    in the same area (postal code/ zip code) as the business is located?
    :return: a string representing the SQL query
    :rtype: str
    """

    sql_query = "SELECT COUNT (*) FROM businesses WHERE postal_code == owner_zip"
    return sql_query

In [49]:
def business_local_owner_reg_count():
    """
    Out of those businesses, how many of them has a registered business certificate?
    :return: a string representing the SQL query
    :rtype: str
    """

In [50]:
%%sql
SELECT COUNT (*) 
FROM businesses
WHERE postal_code == zip_code AND business_certificate IS NOT NULL

 * postgresql://postgres:***@localhost/postgres
(psycopg2.errors.UndefinedTable) relation "businesses" does not exist
LINE 2: FROM businesses
             ^

[SQL: SELECT COUNT (*)
FROM businesses
WHERE postal_code == zip_code AND business_certificate IS NOT NULL]
(Background on this error at: http://sqlalche.me/e/f405)

In [51]:
# reforamtted as string for submission - referenced cambridge spark solution
def business_local_owner_reg_count():
    """
    Out of those businesses, how many of them has a registered business certificate?
    :return: a string representing the SQL query
    :rtype: str
    """

    sql_query = "SELECT COUNT (*) FROM businesses WHERE postal_code == owner_zip AND 'business_certificate NOT NULL'"
    return sql_query